nav {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100vw;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;

  .logo {
    img {
      width: 250px;
    }
  }
}
